body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  margin: 0%;
  padding: 0%;
}


.App{
  
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}

.TitelSection{
  background-color: #5DB9FF;
  height: 300px;
  width: 100%;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  color: white;
}

.TitelSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #4ca8ee;
  font-size: 18px;
  padding-left: 10px;
}

.TitelSection button {
  width: 180px; 
  height: 60px;
  border-radius: 10px;
margin: 20px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: white;
  background-color: #006cbf;
}

.TitelSection button:hover{
  cursor: pointer;
}

.DisplaySection{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DisplaySection h4, h3{
  margin: 5px;
}

.DisplaySection img {
  width: 200px;
}